/* Desktop */
@media screen and (min-width: 1024px){
    .partMob,
    #arrowBack,
    #closeBack,
    #m_login_menu
    {
        display:none !important;
    }

    #sidebar,
    #headerSidebar,
    #headerContainer,
    .partDesk
    {
        /* display:block !important; */
    }

    .sideHide, .sideShow {
        width: 30% !important;
    }
    .sideShow {
        position: inherit;
    }
    #btn_pageDown img {
        left: 0px;
    }


}
/* end Desktop */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){

    .partMob,
    #arrowBack,
    #closeBack,
    #m_login_menu
    {
        display:none !important;
    }

    .partDesk
    {
        display:block !important;
    }

    .sideHide, .sideShow {
        width: 60% !important;
    }
    
    #btn_pageUp, #btn_pageDown {
        height: 50px;
        width: 50px;
    }
    /* width */
    #tsk_head::-webkit-scrollbar, 
    #tsk_body::-webkit-scrollbar, 
    #find_head::-webkit-scrollbar, 
    #find_body::-webkit-scrollbar, 
    #strong_head::-webkit-scrollbar, 
    #strong_body::-webkit-scrollbar, 
    .wr_bcv_uls::-webkit-scrollbar, 
    .colsInner::-webkit-scrollbar 
    {
        width: 5px;
    }  

}
/* end tablet */


/* mobilka */
@media screen and (min-width: 1px) and (max-width: 767px) {
 
    #headerMain,
    #footer,
    #sidebar,
    #headerSidebar,
    #headerContainer,
    .partDesk,
    #v_line
    {
        display:none;
    }

    .partMob,
    #m_login_menu
    {
        display:block;
    }

    #headerContainerInner{
        overflow-x:hidden;
    }
    #sidebarInner{
        margin:0;
    }

    #btn_pageUp, #btn_pageDown {
        height: 50px;
        width: 50px;
    }
    #btn_pageUp {
        top: 44px;
    }
    #btn_pageDown {
        bottom: 10px;    
    }
    /* width */
    #tsk_head::-webkit-scrollbar, 
    #tsk_body::-webkit-scrollbar, 
    #find_head::-webkit-scrollbar, 
    #find_body::-webkit-scrollbar, 
    #strong_head::-webkit-scrollbar, 
    #strong_body::-webkit-scrollbar, 
    .wr_bcv_uls::-webkit-scrollbar, 
    .colsInner::-webkit-scrollbar 
    {
        width: 3px;
    }
    .colsHeadInner {
        margin: 2px;
    } 
    
    .wr_op, 
    p.res_f,
    #wr_hist_find,
    .wr_strong_btns
    {
       margin-right: -3px; 
    } 
    span.res_link{
        padding: 5px 0;
    }
    #menuTabsInner {
        border: 1px solid #2c7fc1;
        padding: 3px;
        padding-bottom: 4px;
    }
    #menuTabsInner,
    #vklad_nav,
    #vklad_find,
    #vklad_tsk,
    #vklad_strong
    {
        outline: none;
    }
    .pv_inner{
        flex-direction: column; 
    }
    .wr_b_trans_a_ref {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .wr_b_trans_a_ref .b_trans{
        min-width: auto;
    }
    #wr_hist_nav,
    #find_head,
    #wr_hist_strong
    {
        border-left: 1px solid #2c7fc1;
        border-right: 1px solid #2c7fc1;
        /* border-bottom: 1px solid #2c7fc1; */
    }
}
/* end mobilka */


/* mobilka XS */
@media screen and (min-width: 1px) and (max-width: 280px) {
    #v_book .v_li{
        /* width: 33.33%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: inherit; 
    }

}
/* mobilka S */
@media screen and (min-width: 281px) and (max-width: 320px) {
    #v_book .v_li{
        /* width: 25%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 70px; 
    }

}
/* mobilka M */
@media screen and (min-width: 321px) and (max-width: 375px) {
    #v_book .v_li{
        /* width: 20%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 80px; 
    }

}
/* mobilka L */
@media screen and (min-width: 376px) and (max-width: 425px) {
    #v_book .v_li{
        /* width: 20%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 90px; 
    }

}
/* mobilka XL */
@media screen and (min-width: 426px) and (max-width: 767px) {
    #v_book .v_li{
        /* width: 16.66%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 120px; 
    }
}


