/* Desktop */
@media screen and (min-width: 1024px){
    .partMob:not(.asMobile .partMob),
    #arrowBack:not(.asMobile #arrowBack),
    #closeBack:not(.asMobile #closeBack),
    #m_login_menu:not(.asMobile #closeBack)
    {
        display:none !important;
    }


    .sideHide:not(.asMobile .sideHide), 
    .sideShow:not(.asMobile .sideShow) 
    {
        width: 30% !important;
    }
    .sideShow {
        position: inherit;
    }
    #btn_pageDown img {
        left: 0px;
    }

}
/* end Desktop */




/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){

    .partMob:not(.asMobile .partMob),
    #arrowBack:not(.asMobile #arrowBack),
    #closeBack:not(.asMobile #closeBack),
    #m_login_menu:not(.asMobile #m_login_menu)
    {
        display:none !important;
    }

    .partDesk:not(.asMobile .partDesk)
    {
        display:block !important;
    }

    .sideHide:not(.asMobile .sideHide), 
    .sideShow:not(.asMobile .sideShow) 
    {
        width: 60% !important;
    }
    
    #btn_pageUp, #btn_pageDown {
        height: 50px;
        width: 50px;
    }
    /* width */
    #tsk_head::-webkit-scrollbar, 
    #tsk_body::-webkit-scrollbar, 
    #find_head::-webkit-scrollbar, 
    #find_body::-webkit-scrollbar, 
    #strong_head::-webkit-scrollbar, 
    #strong_body::-webkit-scrollbar, 
    .wr_bcv_uls::-webkit-scrollbar, 
    .colsInner::-webkit-scrollbar 
    {
        width: 5px;
    }  

}
/* end tablet */



/* Tablet en modo asMobile */
@media screen and (min-width: 1201px) and (max-width: 1439px){

    .asMobile .partMob,
    .asMobile #arrowBack,
    .asMobile #closeBack,
    .asMobile #m_login_menu
    {
        display:none !important;
    }

    .asMobile .partDesk
    {
        display:block !important;
    }

    .asMobile .sideHide, 
    .asMobile .sideShow 
    {
        width: 60% !important;
    }
    
    .asMobile #btn_pageUp, 
    .asMobile #btn_pageDown 
    {
        height: 50px;
        width: 50px;
    }
    /* width */
    #tsk_head::-webkit-scrollbar, 
    #tsk_body::-webkit-scrollbar, 
    #find_head::-webkit-scrollbar, 
    #find_body::-webkit-scrollbar, 
    #strong_head::-webkit-scrollbar, 
    #strong_body::-webkit-scrollbar, 
    .wr_bcv_uls::-webkit-scrollbar, 
    .colsInner::-webkit-scrollbar 
    {
        width: 5px;
    }  

}
/* end Tablet en modo asMobile */






/* mobilka */
@media screen and (min-width: 1px) and (max-width: 767px) {
 
    #headerMain,
    #footer,
    #sidebar,
    #headerSidebar,
    #headerContainer,
    .partDesk,
    #vert_line
    {
        display: none;
    }

    .vkladki_in_mob
    {
        display: block !important;
    }

    .partMob,
    #m_login_menu
    {
        display: block;
    }

    #headerContainerInner{
        overflow-x:hidden;
    }
    #sidebarInner{
        margin: 0;
    }

    #btn_pageUp, #btn_pageDown {
        height: 50px;
        width: 50px;
    }
    #btn_pageUp {
        top: 44px;
    }
    #btn_pageDown {
        bottom: 10px;    
    }
    /* width */
    #tsk_head::-webkit-scrollbar, 
    #tsk_body::-webkit-scrollbar, 
    #find_head::-webkit-scrollbar, 
    #find_body::-webkit-scrollbar, 
    #strong_head::-webkit-scrollbar, 
    #strong_body::-webkit-scrollbar, 
    .wr_bcv_uls::-webkit-scrollbar, 
    .colsInner::-webkit-scrollbar 
    {
        width: 3px;
    }
    .colsHeadInner {
        margin: 2px;
    } 
    
    .wr_op, 
    p.res_f,
    #wr_hist_find,
    .wr_strong_btns
    {
       margin-right: -3px; 
    } 
    span.res_link{
        padding: 5px 0;
    }
    #menuTabsInner {
        border: 1px solid #2c7fc1;
        padding: 3px;
        padding-bottom: 4px;
    }
    #menuTabsInner,
    #vklad_nav,
    #vklad_find,
    #vklad_tsk,
    #vklad_strong
    {
        outline: none;
    }
    .pv_inner{
        flex-direction: column; 
    }
    .wr_b_trans_a_ref {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .wr_b_trans_a_ref .b_trans{
        min-width: auto;
    }
    #wr_hist_nav,
    #find_head,
    #wr_hist_strong
    {
        border-left: 1px solid #2c7fc1;
        border-right: 1px solid #2c7fc1;
        /* border-bottom: 1px solid #2c7fc1; */
    }

    .colsInner p {
        /* padding: 0px 5px 0px !important; */
    }
    .colsInner p:hover {
        /* padding: 0px 5px 10px !important;  */
    }
}
/* end mobilka */



/* mobilka en modo asMobile */
@media screen and (min-width: 768px) and (max-width: 1200px) {
 
    .asMobile #headerMain,
    .asMobile #footer,
    .asMobile #sidebar,
    .asMobile #headerSidebar,
    .asMobile #headerContainer,
    .asMobile .partDesk,
    .asMobile #vert_line
    {
        display: none !important;
    }

    .asMobile .vkladki_in_mob
    {
        display: block !important;
    }

    .asMobile .partMob,
    .asMobile #m_login_menu
    {
        display: block !important;
    }

    .asMobile #headerContainerInner{
        overflow-x: hidden;
    }
    .asMobile #sidebarInner{
        margin: 0;
    }

    .asMobile .asMobile #btn_pageUp, 
    .asMobile #btn_pageDown 
    {
        height: 50px;
        width: 50px;
    }
    .asMobile #btn_pageUp {
        top: 44px;
    }
    .asMobile #btn_pageDown {
        bottom: 10px;    
    }
    /* width */
    #tsk_head::-webkit-scrollbar, 
    #tsk_body::-webkit-scrollbar, 
    #find_head::-webkit-scrollbar, 
    #find_body::-webkit-scrollbar, 
    #strong_head::-webkit-scrollbar, 
    #strong_body::-webkit-scrollbar, 
    .wr_bcv_uls::-webkit-scrollbar, 
    .colsInner::-webkit-scrollbar 
    {
        width: 3px;
    }
    .colsHeadInner {
        margin: 2px;
    } 
    
    .asMobile .wr_op, 
    .asMobile p.res_f,
    .asMobile #wr_hist_find,
    .asMobile .wr_strong_btns
    {
       margin-right: -3px; 
    } 
    .asMobile span.res_link{
        padding: 5px 0;
    }
    .asMobile #menuTabsInner {
        border: 1px solid #2c7fc1;
        padding: 3px;
        padding-bottom: 4px;
    }
    .asMobile #menuTabsInner,
    .asMobile #vklad_nav,
    .asMobile #vklad_find,
    .asMobile #vklad_tsk,
    .asMobile #vklad_strong
    {
        outline: none;
    }
    .asMobile .pv_inner{
        flex-direction: column; 
    }
    .asMobile .wr_b_trans_a_ref {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .asMobile .wr_b_trans_a_ref .b_trans{
        min-width: auto;
    }
    .asMobile #wr_hist_nav,
    .asMobile #find_head,
    .asMobile #wr_hist_strong
    {
        border-left: 1px solid #2c7fc1;
        border-right: 1px solid #2c7fc1;
        /* border-bottom: 1px solid #2c7fc1; */
    }

    .asMobile .colsInner p {
        /* padding: 0px 5px 0px !important; */
    }
    .asMobile .colsInner p:hover {
        /* padding: 0px 5px 10px !important;  */
    }
}
/* end mobilka en modo asMobile */



/* mobilka XS */
@media screen and (min-width: 1px) and (max-width: 280px) {
    #v_book .v_li{
        /* width: 33.33%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: inherit; 
    }

}
/* mobilka S */
@media screen and (min-width: 281px) and (max-width: 320px) {
    #v_book .v_li{
        /* width: 25%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 70px; 
    }

}
/* mobilka M */
@media screen and (min-width: 321px) and (max-width: 375px) {
    #v_book .v_li{
        /* width: 20%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 80px; 
    }

}
/* mobilka L */
@media screen and (min-width: 376px) and (max-width: 425px) {
    #v_book .v_li{
        /* width: 20%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 90px; 
    }

}
/* mobilka XL */
@media screen and (min-width: 426px) and (max-width: 767px) {
    #v_book .v_li{
        /* width: 16.66%; */
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 120px; 
    }
}


