/* Desktop */
@media screen and (min-width: 1024px){
    .partMob,
    #arrowBack
    {
        display:none;
    }

    #sidebar,
    #headerSidebar,
    #headerContainer,
    .partDesk
    {
        display:block;
    }

    .sideHide, .sideShow {
        width: 30% !important;
    }
    .sideShow {
        position: inherit;
    }


}
/* end Desktop */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){

    .partMob,
    #arrowBack
    {
        display:none;
    }

    .partDesk
    {
        display:block;
    }

    .sideHide, .sideShow {
        width: 60% !important;
    }

}
/* end tablet */


/* mobilka */
@media screen and (min-width: 1px) and (max-width: 767px) {
 
    #headerMain,
    #footer,
    #sidebar,
    #headerSidebar,
    #headerContainer,
    .partDesk,
    #v_line
    {
        display:none;
    }

    .partMob{
        display:block;
    }

    #headerContainerInner{
        overflow-x:hidden;
    }
    #sidebarInner{
        margin:0;
    }
  
}
/* end mobilka */


/* mobilka XS */
@media screen and (min-width: 1px) and (max-width: 280px) {
    #v_book .v_li{
        width: 33.33%;
    }
}
/* mobilka S */
@media screen and (min-width: 281px) and (max-width: 320px) {
    #v_book .v_li{
        width: 25%;
    }
}
/* mobilka M */
@media screen and (min-width: 321px) and (max-width: 375px) {
    #v_book .v_li{
        width: 20%;
    }
}
/* mobilka L */
@media screen and (min-width: 376px) and (max-width: 425px) {
    #v_book .v_li{
        width: 20%;
    }
}
/* mobilka XL */
@media screen and (min-width: 426px) and (max-width: 767px) {
    #v_book .v_li{
        width: 16.66%;
    }
}


