/* Desktop */
@media screen and (min-width: 1024px){
    .partMob,
    #arrowBack,
    #closeBack
    {
        display:none;
    }

    #sidebar,
    #headerSidebar,
    #headerContainer,
    .partDesk
    {
        display:block;
    }

    .sideHide, .sideShow {
        width: 30% !important;
    }
    .sideShow {
        position: inherit;
    }
    #btn_pageDown img {
        left: 0px;
    }


}
/* end Desktop */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){

    .partMob,
    #arrowBack,
    #closeBack
    {
        display:none;
    }

    .partDesk
    {
        display:block;
    }

    .sideHide, .sideShow {
        width: 60% !important;
    }
    
    #btn_pageUp, #btn_pageDown {
        height: 50px;
        width: 50px;
    }
    /* width */
    #tsk_head::-webkit-scrollbar, 
    #tsk_body::-webkit-scrollbar, 
    #find_head::-webkit-scrollbar, 
    #find_body::-webkit-scrollbar, 
    #strong_head::-webkit-scrollbar, 
    #strong_body::-webkit-scrollbar, 
    .wr_bcv_uls::-webkit-scrollbar, 
    .colsInner::-webkit-scrollbar 
    {
        width: 5px;
    }  

}
/* end tablet */


/* mobilka */
@media screen and (min-width: 1px) and (max-width: 767px) {
 
    #headerMain,
    #footer,
    #sidebar,
    #headerSidebar,
    #headerContainer,
    .partDesk,
    #v_line
    {
        display:none;
    }

    .partMob{
        display:block;
    }

    #headerContainerInner{
        overflow-x:hidden;
    }
    #sidebarInner{
        margin:0;
    }

    #btn_pageUp, #btn_pageDown {
        height: 50px;
        width: 50px;
    }
    #btn_pageUp {
        top: 44px;
    }
    #btn_pageDown {
        bottom: 10px;    
    }
    /* width */
    #tsk_head::-webkit-scrollbar, 
    #tsk_body::-webkit-scrollbar, 
    #find_head::-webkit-scrollbar, 
    #find_body::-webkit-scrollbar, 
    #strong_head::-webkit-scrollbar, 
    #strong_body::-webkit-scrollbar, 
    .wr_bcv_uls::-webkit-scrollbar, 
    .colsInner::-webkit-scrollbar 
    {
        width: 2px;
    }
    .colsHeadInner {
        margin: 2px;
    }  
}
/* end mobilka */


/* mobilka XS */
@media screen and (min-width: 1px) and (max-width: 280px) {
    #v_book .v_li{
        width: 33.33%;
    }
}
/* mobilka S */
@media screen and (min-width: 281px) and (max-width: 320px) {
    #v_book .v_li{
        width: 25%;
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: inherit; 
    }

}
/* mobilka M */
@media screen and (min-width: 321px) and (max-width: 375px) {
    #v_book .v_li{
        width: 20%;
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 70px; 
    }

}
/* mobilka L */
@media screen and (min-width: 376px) and (max-width: 425px) {
    #v_book .v_li{
        width: 20%;
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 90px; 
    }

}
/* mobilka XL */
@media screen and (min-width: 426px) and (max-width: 767px) {
    #v_book .v_li{
        width: 16.66%;
    }
    .partMob .mob_trans, .partMob .mob_sh_link{
        min-width: 120px; 
    }
}


